.hyphenate{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.ellipse{
  background-color: #ff3859;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 10;
}

.image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-content{
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 550px){
    padding: 0 5px;
  }
}
.sub-container-content{
  width: 100%;
  @extend .flex;
  justify-content: space-between;
  align-items: flex-start;
  @extend .flexWrap;
  @extend .flexDirectionRow;
  @media (max-width: 1210px){
    justify-content: space-around;
  }
}

.mini-article-box{
  @extend .flex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  background-color: $bg-color-mini-article-box;
  width: 330px;
  height: 230px;
  padding: 48px 30px 0 30px;
  @media (max-width: 1210px){
    margin-bottom: 20px;
  }
  h4{
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    color: $font-color-dark;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  p{
    width: 100%;
    margin: 0;
    color: $font-color-gray;
    text-align: center;
    font-size: 1.5em;
    line-height: 25px;
    @extend .hyphenate;
  }
  .image{
    margin-top: 10px;
  }
}