.flex {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.flexNoWrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flexWrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexWrapPeverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexDirectionRow {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flexDirectionColumn {
  -webkit-flex-direction: column;
  flex-direction: column;
}