html, body{
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  background-color: $bg-color-main;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  color: $font-color-dark;
}
ul{
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-menu{
  @extend .container-content;
  nav{
    width: 100%;
    height: 80px;
    @extend .flex;
    align-items: center;
    ul{
      padding: 5px 0;
      @extend .flex;
      justify-content: flex-start;
      li{
        @extend .flex;
        @extend .flexCenter;
      }
      .header-menu-logo{
        width: auto;
        height: auto;
      }
    }
    #logo{
      $pathName: "../img/logo";
      $extension: ".png";
      background-image: url($pathName + $extension);
      @include imgRwd2x($pathName, $extension);
      width: 160px;
      height: 38px;
    }
  }
}

main{
  header{
    text-align: center;
    h2, h3{
      width: 100%;
      margin: 0;
    }
    h2{
      width: 100%;
      font-size: 4.2em;
    }
    h3{
      width: 100%;
      font-size: 3em;
    }
    p{
      width: 100%;
      color: $font-color-gray;
      font-size: 2em;
      font-weight: lighter;
    }
  }
  > section{
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-top-section-container-content{
    @extend .container-content;
    section{
      margin-top: 45px;
      padding: 0 70px;
      @media (max-width: 550px){
        padding: 0;
      }
      @extend .sub-container-content;
      article{
        @extend .mini-article-box;
      }
    }
  }

  .main-top-section{
    header{
      h2{
        color: $font-color-light;
      }
      p{
        color: $font-color-light;
        font-size: 2em;
      }
    }    
    background-color: $bg-content-main-color-1;
    .ellipse{
      position: absolute;
      bottom: -15px;
      left: 50%;
    }
    #wordpress-logo{
      $pathName: "../img/wordpress-logo";
      $extension: ".png";
      background-image: url($pathName + $extension);
      @include imgRwd2x($pathName, $extension);
      width: 42px;
      height: 42px;
    }
  }
  .after-top-section-1{
    background-color: $bg-content-main-color-2;
    #google-logo{
      $pathName: "../img/google-logo";
      $extension: ".png";
      background-image: url($pathName + $extension);
      @include imgRwd2x($pathName, $extension);
      width: 42px;
      height: 42px;
    }
  }
}

footer{
  height: 62px;
}