$bg-color-main: white;
$bg-color-mini-article-box: white;
$bg-content-main-color-1: #215398;
$bg-content-main-color-2: #f5f5f5;
$font-color-gray: #808080;
$font-color-dark: #2d3236;
$font-color-light: #ffffff;